<h1 class="jewellery-item-heading">Cufflinks</h1>
<div class="card-container">
  <% @cufflinks.each do |cufflink| %>
    <div class="jewellery-card">
      <%= image_tag cufflink.image if cufflink.image.attached? %>
      <div class="jewellery-card-content">
        <%= link_to cufflink_path(cufflink) do %>
          <h3><%= cufflink.name %></h3>
        <% end %>
        <p><%= number_to_currency(cufflink.price) %></p>
      </div>
    </div>
  <% end %>
</div>
