<h1>Braceltes</h1>

<% @bracelets.each do |bracelet| %>
  <div>
    <h3><%= bracelet.name %></h3>
    <p><%= bracelet.description %></p>
    <p><%= number_to_currency(bracelet.price) %></p>
  </div>
<% end %>
