<h1 class="jewellery-item-heading">Bracelets</h1>
<div class="card-container">
  <% @bracelets.each do |bracelet| %>
    <div class="jewellery-card">
      <%= image_tag bracelet.image if bracelet.image.attached? %>
        <div class="jewellery-card-content">
          <h3><%= bracelet.name %></h3>
          <p><%= number_to_currency(bracelet.price) %></p>
        </div>
    </div>
  <% end %>
</div>
