<h1 class="jewellery-item-heading">Necklaces</h1>
<div class="card-container">
  <% @necklaces.each do |necklace| %>
    <div class="jewellery-card">
      <%= image_tag necklace.image if necklace.image.attached? %>
      <div class="jewellery-card-content">
        <%= link_to necklace_path(necklace) do %>
          <h3><%= necklace.name %></h3>
        <% end %>
        <p><%= number_to_currency(necklace.price) %></p>
      </div>
    </div>
  <% end %>
</div>
