<h1>Necklaces</h1>

<% @necklaces.each do |necklace| %>
  <div>
     <%= image_tag necklace.image if necklace.image.attached? %>
    <h3><%= necklace.name %></h3>
    <p><%= necklace.description %></p>
    <p><%= number_to_currency(necklace.price) %></p>
  </div>
<% end %>
