<h1 class="jewellery-item-heading">Earrings</h1>
<div class="card-container">
  <% @earrings.each do |earring| %>
    <div class="jewellery-card">
      <%= image_tag earring.image if earring.image.attached? %>
      <div class="jewellery-card-content">
        <%= link_to earring_path(earring) do %>
          <h3><%= earring.name %></h3>
        <% end %>
        <p><%= number_to_currency(earring.price) %></p>
      </div>
    </div>
  <% end %>
</div>
