<div class="contact-container">
  <div class="left-contact">
    <h1>Get In Touch</h1>
  </div>
  <div class="right-contact">
    <h1>a form to submit email?</h1>
  </div>
</div>

<%= link_to "Back to home", root_path, class: "btn btn-primary" %>
