<h1>Rings</h1>

<% @rings.each do |ring| %>
  <div class="jewellery-card">
     <%= image_tag ring.image if ring.image.attached? %>
    <h3><%= ring.name %></h3>
    <p><%= ring.description %></p>
    <p><%= number_to_currency(ring.price) %></p>
  </div>
<% end %>
